.container {
    border: 1px solid black;
    background: #3AD886;
    max-width: 1000px;
    height: 500px;
}

.form {
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #3AD886;
    width: 500px;
}

.imageContainer {
    border: 1px solid brown;
    display: flex; 
    justify-content: center;             
}

.imagePreview {
    max-height: 200px; 
    max-width: 200px;
}

.formInput {
    max-width: 700px;
}

.form_button_box {
    display: flex; 
    justify-content: space-between;
}

.form_button {
    border-radius: 5px;
    background-color: #ED6B5A;
    height: 32px; 
    width: 144px;
}